@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Labrada:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&family=Spicy+Rice&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,main,footer {
    max-width: 800px;
    margin: 0 auto;
}

body {
    font-family: Inter,sLabrada, sans-serif;
}

header {
    background: yellow;
    display: block;
}

h1 {
    text-align: center;
    padding: 0.5rem;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 800px;
    height: 500px;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}